html {
  background-color: #e6ffff;
}

.MapCanvas {
  border: 1px black solid;
  margin: 25px 25px 25px 25px;
  height: 300px;
  width: 300px;
}

.ResultsList {
  border: 1px black solid; 
  height: 500px;
  width: 200px;
}